* {
    box-sizing: border-box;
  }
  
  body {
      background-color: #ececec;
  }

  .container {
      margin-top: 10px;
     
  }

  .middle {
      margin-top: 40px;
      color: #4aaaa5;
    
  }
  
  .text{
    color: #777777;
       font-size: 16px;
  }

  /* .maincard {
      margin-top: 50px;
      margin-left: 100px;
  } */
 

  .card-footer {
      bottom: 0;
      position: fixed;
      text-align: center;
      width: 100%;
  }

  .name {
  background-color: #4aaaa5;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  height: 70px;
  text-align: center;
  }

  .name:hover{
    background-color: #2f9691;
    text-decoration: none;
  }


    .nav{
    margin-top: 10px;
  }
  
   s 
  
  .second{
    margin-top: 5px;
     
   
  }

  .third {
    margin-top: 5px;
     
    
  }
  .pic1 h4 {
    position: absolute;
    background-color:  #4aaaa5;
    color: white;
    padding: 13px 5px;
    height: 50px;
    bottom: 1px;
    width:200px;
    text-align: center;
  }

  .form{
    
   
    width: 960px;
    padding-bottom: 50px;
  }

  .wrapper {
    background-color: seashell;
    width: 960px;
    margin-left: 200px;
  }

  .wrapper2{
    background-color: seashell;
    width: 960px;
    margin-left: 200px;
    margin-top: 10px;
  }

  .wrapper3{
    background-color: seashell;
    width: 960px;
    margin-left: 200px;
    margin-top: 10px;
  }